doctype html
html
  head
    title Library
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
                //- img(src="/static/img/logo.png")
                |OBL
            li #[a(href = "/") Home]
            li #[a(href = "/about") About]
            //- li #[a(href="/") Services]
            li #[a(href = "/libraryinfo") Register youself]
            li #[a(href = "/contact") Contact Us]

    block content
    footer#footer
        | Copyright ©  2022 Oldbooks.com | All rights reserved